body { /*de body van elke pagina*/
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header { /*de header van elke pagina*/
  padding: 30px;
  text-align: center;
  background: white;
}

#kleurmodellenheader { /*specifieke id voor de header van kleurmodellen pagina*/
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.leftcolumn { /*de linker-column van elke pagina*/  
  float: left;
  width: 69%;
}

.rightcolumn { /*de rechter-column van elke pagina*/
  float: right;
  width: 29%; 
  background-color: #f1f1f1;
  padding-left: 20px;
}

img { /*opmaak van images*/
  width: 35%;
  lenght: 35%;
  padding: 10px;
}

.card { /*de opmaak van een tekstvlak*/
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after { /*zorgt dat inhoud tekst gescheiden is van header en footer*/
  content: "";
  display: table;
  clear: both;
}

.footer { /*de ompaak van de footer:naam wordt hier gegeven*/
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) { /*zorgt ervoor dat als scherm bepaalde grootte is, dan past de site zich erop aan*/
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) { /*kleinere scherm-grootte*/
  .navbar a {
    float: none;
    width: 100%;
  }
}

iframe{ /*zorgt ervoor dat iframe appart wordt weergegeven:een block*/
  display: block;
}
