body { /*de body van elke pagina*/
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header { /*de header van elke pagina*/
  padding: 30px;
  text-align: center;
  background: white;
}

#kleurmodellenheader { /*specifieke id voor de header van kleurmodellen pagina*/
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.topnav { /*de navigatie-menu-balk*/
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

.topnav a { /*de links in de navigatiebalk*/
  float: left;
  display: block; 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover { /*wat er gebeurt wanneer je over een navbar link hangt met je muis*/
  background-color: #808080;
  text-decoration: underline;
  color: black;
}

.topnav a.active { /*wanneer je op een pagina bent, veranderd de kleur van die link*/
  background-color: #808080;
  color: black;
}

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }

.leftcolumn { /*de linker-column van elke pagina*/  
  float: left;
  width: 69%;
}

.rightcolumn { /*de rechter-column van elke pagina*/
  float: right;
  width: 29%; 
  background-color: #f1f1f1;
  padding-left: 20px;
}

img { /*opmaak van images*/
  width: 35%;
  lenght: 35%;
  padding: 10px;
}

.card { /*de opmaak van een tekstvlak*/
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after { /*zorgt dat inhoud tekst gescheiden is van header en footer*/
  content: "";
  display: table;
  clear: both;
}

.footer { /*de ompaak van de footer:naam wordt hier gegeven*/
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) { /*zorgt ervoor dat als scherm bepaalde grootte is, dan past de site zich erop aan*/
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) { /*kleinere scherm-grootte*/
  .topnav a {
    float: none;
    width: 100%;
  }
}

iframe{ /*zorgt ervoor dat iframe appart wordt weergegeven:een block*/
  display: block;
}
