ul{
   list-style-type: none;
   padding: 0;
   margin: 0;
   border: 5px;
   background-color: lightgrey;
  
}

p{
   list-style-type: none;
   padding: 0;
   margin: 0;
   border: 10px;
   background-color: beige;

}
